<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpp.mapper.JobMapper">

    <select id="list" resultType="com.cpp.pojo.Job">
        select j.* from jobs j
        <where>
        <if test=" jobTitle!= null and jobTitle !='' ">j.job_title like concat('%',#{jobTitle},'%')</if>
        <if test=" jobDesc!= null and jobDesc !='' ">and j.job_desc like concat('%',#{jobDesc},'%')</if>
        <if test="begin != null and end !=null">and j.end between #{begin} and #{end}</if>
        <if test="salaryMin != null ">and j.job_salary &gt;= #{salaryMin}</if>
        <if test="salaryMax !=null">  and j.job_salary &lt;= #{salaryMax}</if>
        </where>
        order by j.end desc
    </select>
    <select id="taglist" resultType="com.cpp.pojo.JobTag">
        select t.* from tags t join jobs j on t.job_id = j.id
        <where>
            <if test="id !=null">j.id=#{id}</if>
        </where>
    </select>
</mapper>